<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title></title>
    <link rel="stylesheet" href="../css/amazeui.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/common.css">
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/common.js"></script>
</head>
<body ng-app="InfantStore">
    <div ng-view=""></div>
    <div id="loading-bar-container"></div>
</body>
<script src="../js/title.js"></script>
<script src="../js/angular.min.js"></script>
<script src="../js/angular-route.min.js"></script>
<script src="../js/angular-css.min.js"></script>
<script src="../js/loading-bar.min.js"></script>
<script src="../js/route.js"></script>
<script src="../js/controller.js"></script>
<script src="../js/directive.js"></script>
</html>
